.passengers-and-class-container{color: black;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  height :30px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  overflow: hidden;
  /* Ensure all inner text is vertically and horizontally centered within the fixed height */
}
.travellercontainer {
    top:30%;
    right:10%;  
  background-color: rgb(253, 253, 255);
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 300px;
  padding-top: 10px;
  z-index: 9999;
  position: absolute;
  border: 1px solid #d1d5db;
}
.number-selector {
    
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: fit-content;
}

.number-item {
    
  padding: 15px 16px;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.number-item:last-child {
  border-right: none;
}

.number-item:hover {
  background-color: #f0f0f0;
}

.number-item.selected {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.traveller-done-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  width: 20%;
}

.traveller-done-button:hover {
  background-color: #0056b3;
}