.content{margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sidebar{
    width: 25%;
    height:fit-content ;
    padding: 20px;
    background-color: #E5EEF4;
    border-right: 1px solid #dee2e6;
    margin-left: 75px;
}

.flights{background-color:#E5EEF4;
    width: 75%;
    padding: 20px;
    margin-right: 150px;
}